
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
{{ Lexicon.behaviors_title}}
{% endblock %}

{% block content %}
<br>
{{ Lexicon.intro_a}}
<br>
<br>
<br>

<label>{{ Lexicon.commute_car_label }}</label>

<table class="radiotable">
    <tr>
      
        <th class="radio-column"> {{ Lexicon.commute_car_never }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_less_than_A }} </th>
        <th class="radio-column">{{ Lexicon.commute_car_A_to_B }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_B_to_C }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_C_to_D }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_more_than_D }} </th>
    </tr>

    {% for field in form %}
        {% if field.name == 'footprint_commute_car'  %}
        {{formfield_errors field.name}}

        <tr>
            {{ for choice in field }}
            <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {% endif %}

{{ endfor }}
</table>
<br>

<label>{{ Lexicon.commute_car_type_label}} </label>

<table class="radiotable">
    <tr>
 
        <th class="radio-column"> {{ Lexicon.commute_car_type_none }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_type_A }} </th>
        <th class="radio-column">{{ Lexicon.commute_car_type_B }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_type_C }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_type_D }} </th>
        <th class="radio-column"> {{ Lexicon.commute_car_type_E }} </th>
    </tr>

    {% for field in form %}
        {% if field.name == 'footprint_commute_car_type'  %}
        {{formfield_errors field.name}}

        <tr>
            {{ for choice in field }}
            <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {% endif %}

{{ endfor }}
</table>
<br>

<label>{{ Lexicon.commute_pt_label}} </label>

<table class="radiotable">
    <tr>
      
        <th class="radio-column"> {{ Lexicon.commute_pt_less_than_A }} </th>
        <th class="radio-column"> {{ Lexicon.commute_pt_A_to_B }} </th>
        <th class="radio-column">{{ Lexicon.commute_pt_B_to_C }} </th>
        <th class="radio-column"> {{ Lexicon.commute_pt_C_to_D }} </th>
        <th class="radio-column"> {{ Lexicon.commute_pt_D_to_E }} </th>
        <th class="radio-column"> {{ Lexicon.commute_pt_more_than_E }} </th>
    </tr>

    {% for field in form %}
        {% if field.name == 'footprint_commute_pt'  %}
        {{formfield_errors field.name}}

        <tr>
            {{ for choice in field }}
            <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {% endif %}

{{ endfor }}
</table>


<br>

<div class="next-btn radiotable">
    <div style="float: right; padding-top: 2vh;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
 
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'global/js/functions.js' %}" defer></script>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        setWidthForTableColumns1();
    });

    $(document).ready(function () {
        for (let i = 0; i < js_vars.form_fields.length; i++) {   
            prop= js_vars.form_fields[i] + 'Label'
            label = js_vars.form_field_labels[i]
            id = 'id_' + js_vars.form_fields[i]
            $('#' + id).html(label)
        }


    })

</script>
{% endblock %}