{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.beliefHuman_title }}
{% endblock %}

{% block content %}

<p> {{ Lexicon.beliefHuman_header}}</p>



{{ for field in form }}
    {{formfield_errors field.name}}
    <button class="accordion" id={{field.id}} name={{field.name}}>Section 1</button>
    <div class="accpanel">
        <table style="width:90%; margin-left: auto; margin-right: auto;">
            <tr style="padding: 5px;"> <td colspan="3" style="text-align: left; padding:0"> {{Lexicon.not_at_all}} </td>  <td colspan="4"> </td>  <td colspan="3" style="text-align: right;"> {{Lexicon.very_much}} </td> </tr>

            <tr >
                {{ for choice in field }}            
                        <td class="column accchoice" style="width: inherit; text-align: center; padding: 0px 5px 30px" data-parent={{field.id}} onclick="mark_answered($(this))">{{ choice }} </td>  
                {{ endfor }}
            </tr>     
        </table>
    </div>
{{ endfor }}
<!-- 

<table class="radiotable">
    <tr>
        <th></th>
        <th class="radio-column"> {{ Lexicon.not_at_all }}</th>
        <th class="radio-column"> </th class="radio-column">
        <th class="radio-column"> </th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"> {{ Lexicon.very_much }} </th>
    </tr>

    {% for field in form %}
        {% if field.name == 'belief1Solutions' or field.name == 'belief2Solutions' or field.name == 'belief3Solutions' or field.name == 'belief4Solutions' or field.name == 'belief5Solutions' %}
        {{formfield_errors field.name}}

        <tr>
            <th style="font-weight:normal;"  width="25%;" word-wrap="break-word;" id={{field.id}} name={{field.name}}>  </th>
            {{ for choice in field }}
            <td  style="word-wrap:break-word"   > {{ choice }} </td>
            {{ endfor }}
        </tr>
        {% endif %}

    {{ endfor }}
</table>
 -->


 <div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
 
        
    </div>
</div> 
{% endblock %}


{% block scripts %}

<script>
    var acc = document.getElementsByClassName("accordion");
    var maxid= 6
    var idarray = ['id_belief1Solutions', 'id_belief2Solutions', 'id_belief3Solutions', 'id_belief4Solutions', 'id_belief5Solutions']

    function mark_answered(element){
            nameQuestion = element.children()[0].name
            if(! document.forms.form[nameQuestion].value==''){
                myid = element[0].dataset.parent
            $('#' + myid).addClass("answered")  
            const findMyId = (element) => element == myid;
            const myIndex = idarray.findIndex(findMyId)
            if (myIndex + 1 < idarray.length) {
                setTimeout(function () {close_individual_question(myid) }, 300);
                mynextid = idarray[myIndex+1]
                setTimeout(function () {open_individual_question(mynextid, false) }, 600);
            }
            }
            
            
        }

        function close_individual_question(myid){
            myacc = document.getElementById(myid);
                myacc.classList.remove("accactive");
                accpanel = myacc.nextElementSibling;
                accpanel.style.maxHeight = null;      
        }

        function open_individual_question(myid, scroll){
            myacc = document.getElementById(myid);
            if(scroll==true){
                if(screen.height < 1000){
                    setTimeout(function(){myacc.scrollIntoView({behavior: "smooth"})},600);
                }
            }
            myacc.classList.add("accactive");
            accpanel = myacc.nextElementSibling;
            accpanel.style.maxHeight = 600 + "px";
           
           

        }

       function render_questions(){
            for (let i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    event.preventDefault()
                    this.classList.toggle("accactive");
                    var accpanel = this.nextElementSibling;
                    if (accpanel.style.maxHeight) {
                        accpanel.style.maxHeight = null;
                    } else {
                        accpanel.style.maxHeight = 600 + "px";
                    }
                });
            }

        }

        

        $(document).ready(function () {

            render_questions()
            open_individual_question("id_belief1Solutions", false)
        for (let i = 0; i < js_vars.form_fields.length; i++) {   
            prop= js_vars.form_fields[i] + 'Label'
            label = js_vars.form_field_labels[i]
            id = 'id_' + js_vars.form_fields[i]
            $('#' + id).html(label)
        }


    })
</script>
{% endblock %}