{% block styles %}
<link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
{{ Lexicon.cce_title }}
{% endblock %}

{% block content %}

<p> {{ Lexicon.cce_header }}</p>



<table class="radiotable3" style="table-layout: fixed; width: 100%;">
    <tbody>
        {{ for field in form }}
                <tr style="background-color: white;"> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td></tr>

            <tr> 
                <th class="radio-column"  colspan="2" style="text-align: left; font-weight: normal;">  {{ Lexicon.not_at_all }}</th> 
                    <th class="radio-column"> </th> 
                    <th style=" text-align: center;"  colspan="4" id={{field.id}} name={{field.name}}>  </th>
                    <th class="radio-column"> </th> 
                    <th  colspan="2" style="text-align: right; font-weight: normal;"  class="radio-column"> {{ Lexicon.very_much }} </th> 
            </tr>

            <tr>
                {{ for choice in field }}
                    <td>{{ choice }}</td>
                {{ endfor }}
            </tr>
        {{ endfor }}
            </tbody>
</table>






<div class="next-btn radiotable">
    <div style="float: right; padding-top: 2vh;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
 
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>

    document.addEventListener("DOMContentLoaded", function () {
    });

    $(document).ready(function () {
        for (let i = 0; i < js_vars.form_fields.length; i++) {   
            prop= js_vars.form_fields[i] + 'Label'
            label = js_vars.form_field_labels[i]
            id = 'id_' + js_vars.form_fields[i]
            $('#' + id).html(label)
        }


    })

</script>
{% endblock %}