{% block styles %}
<link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/customEmotionTable.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
{{ Lexicon.cce_title }}
{% endblock %}

{% block content %}

<p> {{ Lexicon.cce_header }}</p>

<table class="radiotable">
    <tr>
        <th></th>
        <th class="radio-column"> {{ Lexicon.not_at_all }}</th>
        <th class="radio-column"> </th class="radio-column">
        <th class="radio-column"> </th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"></th>
        <th class="radio-column"> {{ Lexicon.very_much }} </th>
    </tr>



    {{ for field in form }}
    {{formfield_errors field.name}}
    <tr>
        <th style="font-weight:normal;" id={{field.id}} name={{field.name}}>  </th>
        {{ for choice in field }}
        <td>{{ choice }}</td>
        {{ endfor }}
    </tr>
    {{ endfor }}
</table>


<div class="next-btn radiotable">
    <div style="float: right; padding-top: 2vh;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
 
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'global/js/functions.js' %}" defer></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        setWidthForTableColumns1();
    });

    $(document).ready(function () {
        for (let i = 0; i < js_vars.form_fields.length; i++) {   
            prop= js_vars.form_fields[i] + 'Label'
            label = js_vars.form_field_labels[i]
            id = 'id_' + js_vars.form_fields[i]
            $('#' + id).html(label)
        }


    })

</script>
{% endblock %}