
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.cce_title }}
{% endblock %}


{% block content %}
<br>
<p> {{ Lexicon.cce_header }}</p>

<table class="radiotable">
    <tr> <th></th> <th    class="radio-column">  {{ Lexicon.not_at_all }}</th> <th class="radio-column" > </th class="radio-column"> <th class="radio-column"> </th> <th  class="radio-column"></th> <th    class="radio-column"> {{ Lexicon.very_much }} </th> </tr>


   
    {{ for field in form }}
        <tr>
            <th style="font-weight:normal;">{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>


<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %}
        
    </div>
</div> 
{% endblock %}


{% block scripts %}
    <script src="{% static 'global/js/functions.js' %}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setWidthForTableColumns1();
        });
    </script>
{% endblock %}