
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">

    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">

    <style>
        .question{
            font-weight: bold;
            padding: 20px 0;
            font-size: large;
        }

        .answer{
            padding-top: 7px;
        }
        
    
    </style>
{% endblock %}

{% block title %}
    {{ Lexicon.cck_title }}
{% endblock %}

{% block content %}
<br>
<p> {{ Lexicon.cck_header }}</p>





{{ for field in form }}
    {{formfield_errors field.name}}
    <button class="accordion" id={{field.id}} name={{field.name}}>Section 1</button>
    <div class="accpanel">
    {{ for choice in field }}
         
            <div class= "row">
                <div class="column accchoice" style="width: inherit;" data-parent={{field.id}} onclick="mark_answered( `{{field.name}}` )">{{ choice }}</div>
                <div class="column answer" style="width: inherit; max-width:80%"> {{choice.label}}</div>
            </div>
         
    {{ endfor }}
    </div>   
{{ endfor }}

<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
 
        
    </div>
</div> 
{% endblock %}


{% block scripts %}
    <script src="{% static 'global/js/functions.js' %}" defer></script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var maxid= 9

        function mark_answered(nameQuestion){
            if(! document.forms.form[nameQuestion].value==''){
                myelement = document.getElementById("id_"+nameQuestion)
                myelement.classList.add("answered")
                myid = "id_" + nameQuestion
                mynumber = parseInt(nameQuestion.slice(-1))
                if (mynumber < 9) {
                    setTimeout(function () {close_individual_question(myid) }, 300);
                    nextnumber = mynumber +1
                    mynextid = "id_cknow" + nextnumber
                    setTimeout(function () {open_individual_question(mynextid, true) }, 600);
                }
            }
            
        }

        function close_individual_question(myid){
            myacc = document.getElementById(myid);
                myacc.classList.remove("accactive");
                accpanel = myacc.nextElementSibling;
                accpanel.style.maxHeight = null;      
        }

        function open_individual_question(myid, scroll){
            myacc = document.getElementById(myid);
            if(scroll==true){
                if(screen.height < 1000){
                    setTimeout(function(){myacc.scrollIntoView({behavior: "smooth"})},600);
                }
            }
            myacc.classList.add("accactive");
            accpanel = myacc.nextElementSibling;
            accpanel.style.maxHeight = 600 + "px";
           
           

        }

       function render_questions(){
            for (let i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    event.preventDefault()
                    this.classList.toggle("accactive");
                    var accpanel = this.nextElementSibling;
                    if (accpanel.style.maxHeight) {
                        accpanel.style.maxHeight = null;
                    } else {
                        accpanel.style.maxHeight = 600 + "px";
                    }
                });
            }

        }

        

        $(document).ready(function () {

            render_questions()
            open_individual_question("id_cknow1", false)
        for (let i = 0; i < js_vars.form_fields.length; i++) {   
            prop= js_vars.form_fields[i] + 'Label'
            label = js_vars.form_field_labels[i]
            id = 'id_' + js_vars.form_fields[i]
            $('#' + id).html(label)
        }


    })

    </script>
{% endblock %}