
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.ibv_title }}
{% endblock %}

{% block content %}

<p> {{ Lexicon.ibv_header }}</p>

<table class="radiotable">
    <tr> <th></th> <th    class="radio-column">  {{ Lexicon.opposed_to_values }}</th> <th class="radio-column" > {{ Lexicon.not_important }} </th class="radio-column"> <th class="radio-column"> </th> <th class="radio-column"> </th> <th class="radio-column"> </th> <th class="radio-column"> </th> <th class="radio-column"> </th> <th></th> <th    class="radio-column"> {{ Lexicon.extremely_important }} </th> </tr>


   
    {{ for field in form }}
        <tr>
            <th style="font-weight:normal;">{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>


<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %}
        
    </div>
</div> 
{% endblock %}


