
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.po_title }}
{% endblock %}

{% block content %}

<p>{{ Lexicon.po_header }}</p>

<table class="radiotable">
    <tr>
        <th></th>
        <th class="radio-column">{{ Lexicon.strongly_liberal }}</th>
        <th class="radio-column">{{ Lexicon.somewhat_liberal }}</th>
        <th class="radio-column">{{ Lexicon.moderate }}</th>
        <th class="radio-column">{{ Lexicon.somewhat_conservative }}</th>
        <th class="radio-column">{{ Lexicon.strongly_conservative }}</th>
    </tr>

    {% for field in form %}
        <tr>
            <th style="font-weight:normal;">{{ field.label }}</th>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %}
        
    </div>
</div> 
{% endblock %}


