
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }} {{Lexicon.transition_title}} {{ endblock }}
{{ block content }}

<body style="max-width:800px;margin-left:auto; margin-right:auto;">

    <p> {{ Lexicon.transitions_a }}</p>


{{ Lexicon.transitions_b }} {{ Lexicon.transitions_c }} 

<div >
    <button id="nextst" style=" margin-top: 4vh; float:right;" disabled class="otree-btn-next btn btn-primary"> {{Lexicon.next}}</button>

</div>

</body>


{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 1 * 1000);
    }
</script>
{% endblock %}