
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.wvv_title }}
{% endblock %}

{% block content %}

<p> {{ Lexicon.wvv_header }}</p>
<style>  
    table.radiotable th, table.radiotable td {
        padding: 12px;
        text-align: center;
        max-width: none; /* No max-width for the entire table */
    }
    /* Left-align the first column */
    table.radiotable th:first-child, table.radiotable td:first-child {
        text-align: left;
    }
    /* Alternating row colors */
    table.radiotable tr:nth-child(even) {
        background-color: #c0e3e0;
    }
</style>
<table class="radiotable">
    <tr> 
        <th></th>
        <th class="radio-column">  {{ Lexicon.not_at_all }}</th>
        <th class="radio-column" > </th class="radio-column">
        <th class="radio-column"> </th>
        <th class="radio-column"> </th>
        <th class="radio-column"> </th>
        <th></th>
        <th class="radio-column"> {{ Lexicon.very_much }} </th>
    </tr>


   
    {{ for field in form }}
        <tr>
            <th style="font-weight:normal;">{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>


<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %}
        
    </div>
</div> 

<script>
    // Get all table rows
    var rows = document.querySelectorAll('.radiotable tr');

    // Initialize min width variable
    var minTableWidth = 0;

    // Iterate over each row
    rows.forEach(function(row) {
        // Get all cells in the row, excluding the first one
        var cells = row.querySelectorAll('th:not(:first-child), td:not(:first-child)');

        // Iterate over each cell in the row
        cells.forEach(function(cell) {
            // Get the content of the cell
            var content = cell.textContent || cell.innerText;

            // Split the content into words
            var words = content.split(/\s+/);

            // Find the length of the longest word
            var maxLength = Math.max(...words.map(word => word.length));

            // Update the min width for the entire table
            minTableWidth = Math.max(minTableWidth, maxLength);
        });
    });

    // Apply the min width to each column (excluding the first one)
    rows.forEach(function(row) {
        // Get all cells in the row, excluding the first one
        var cells = row.querySelectorAll('th:not(:first-child), td:not(:first-child)');

        // Iterate over each cell in the row
        cells.forEach(function(cell) {
            cell.style.minWidth = minTableWidth + 'ch';
        });
    });
</script>

{% endblock %}


