{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.demographics_title }}
{% endblock %}

{% block content %}

<p> {{ Lexicon.demographics_header }}</p>

<form method="post">
    {% for field in form %}
        <div>
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
</form>


<div style="text-align: right;" >
    <button id="nextst" style=" margin-top: 4vh;" disabled class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>

</div>
{% endblock %}


