
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.Additional_title }}
{% endblock %}

{% block content %}

<p> {{ Lexicon.Difficult_header }}</p>
<style>  
    table.radiotable th, table.radiotable td {
        padding: 12px;
        text-align: center;
        max-width: none; /* No max-width for the entire table */
    }
    /* Left-align the first column */
    table.radiotable th:first-child, table.radiotable td:first-child {
        text-align: left;
    }
    /* Alternating row colors */
    table.radiotable tr:nth-child(even) {
        background-color: #c0e3e0;
    }
</style>
<table class="radiotable">
    <tr>
        <th></th>
        <th class="radio-column">  {{ Lexicon.difficult_A }}</th>
        <th class="radio-column" > {{ Lexicon.difficult_B }} </th class="radio-column">
        <th class="radio-column">  {{ Lexicon.difficult_C }}</th> 
        <th class="radio-column">  {{ Lexicon.difficult_D }}</th>
        <th class="radio-column">  {{ Lexicon.difficult_E}}</th>
        <th class="radio-column">  {{ Lexicon.difficult_F}}</th>
        
        <th class="radio-column"> {{ Lexicon.difficult_G }} </th> 
    </tr>

   
    {{ for field in form }}
        <tr>
            <th style="font-weight:normal;">{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>


<div style="text-align: right;" >
    <button id="nextst" style="margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>

</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/functions.js' %}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setWidthForTableColumns1();
        });
    </script>
{% endblock %}