{% block title %}
{{Lexicon.box_rating_instruction}} 
{% endblock %}


{% block styles %}
<!-- Compiled and minified CSS -->
<link href="{{ static 'global/css/SamplingPilotgeneral.css'}}" rel="stylesheet">
<style>
label{
   padding-top:20pt;
   font-weight: bold;
}
</style>


{% endblock %}

{% block content %}
<body>



<div style="padding-top:2vh; text-align: center; padding-left:1vw;">
      <table style="text-align: center; margin-left: auto; margin-right:auto">
         <tr>
            {{Lexicon.box_rating_liking_A}}
            </td>
         </tr>
         <tr>
            <td> {{Lexicon.not_at_all}} &nbsp;</td>
            {{ for choice in form.boxlikingInfo }}
               <td> {{ choice }} </td>
            {{ endfor }}
            <td> &nbsp; {{Lexicon.very_much}} </td>
         </tr>
      
         <tr> 
            <td colspan="11"> 
               {{Lexicon.box_rating_would_follow_A}}
            </td>
         </tr>
         <tr>
            <td> {{Lexicon.very_unlikely}} &nbsp;</td>
             {{ for choice in form.boxrecommendationInfo }}
                <td> {{ choice }} </td>
             {{ endfor }}
             <td> &nbsp; {{Lexicon.very_likely}} </td>
         </tr>
         {{if round_number == C.NUM_ROUNDS}}
         <tr >
            <td colspan="11"> 
            {{Lexicon.box_rating_polOrientation_A}}
            </td>
         </tr>
         <tr>
            <td> {{Lexicon.very_liberal}} &nbsp;</td>
            {{ for choice in form.boxpoliticsInfo }}
               <td> {{ choice }} </td>
            {{ endfor }}
            <td> &nbsp; {{Lexicon.very_conservative}} </td>
         </tr>
         {{endif}}
      
      </table>
</div>





<div style="padding-top:4vh; max-width:600px; text-align: center;margin: auto">
   <hr> 



   <div style="padding-top:2vh; text-align: center; padding-left:1vw;">
      <table style="text-align: center; margin-left: auto; margin-right:auto">
         <tr>
            {{Lexicon.box_rating_liking_A}}
            </td>
         </tr>
         <tr>
            <td> {{Lexicon.not_at_all}} &nbsp;</td>
            {{ for choice in form.boxlikingInfo }}
               <td> {{ choice }} </td>
            {{ endfor }}
            <td> &nbsp; {{Lexicon.very_much}} </td>
         </tr>
      
         <tr> 
            <td colspan="11"> 
               {{Lexicon.box_rating_would_follow_A}}
            </td>
         </tr>
         <tr>
            <td> {{Lexicon.very_unlikely}} &nbsp;</td>
             {{ for choice in form.boxrecommendationInfo }}
                <td> {{ choice }} </td>
             {{ endfor }}
             <td> &nbsp; {{Lexicon.very_likely}} </td>
         </tr>
         {{if round_number == C.NUM_ROUNDS}}
         <tr >
            <td colspan="11"> 
            {{Lexicon.box_rating_polOrientation_A}}
            </td>
         </tr>
         <tr>
            <td> {{Lexicon.very_liberal}} &nbsp;</td>
            {{ for choice in form.boxpoliticsInfo }}
               <td> {{ choice }} </td>
            {{ endfor }}
            <td> &nbsp; {{Lexicon.very_conservative}} </td>
         </tr>
         {{endif}}
      
      </table>
</div>


<div style="max-width: 750px;">
   <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>

</div>


</body>

{% endblock %}


{% block scripts %}
<!-- Compiled and minified JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script> 



</script>

{% endblock %}