{% block styles %}
<link href="{{ static 'global/css/SamplingPilotgeneral.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}


{{ block title }} {{Lexicon.Title_taskExample}} {{ endblock }}
{{ block content }}

<p>
    {{Lexicon.example_taskExample}} <br>


<img src={{Lexicon.example_CT}} style="width: 550px;
                                border: black;
                                border-width: medium;
                                border-style: dashed;
                                padding: 20pt 20pt 0pt 20pt;
                                margin-top: 20px;
                                margin-left: 30px;" > 
    

</p>



<div style="text-align: left;">

{{Lexicon.intro_attributes}}
<p>
<ul>
    <li> {{Lexicon.attributes_sector}}</li>
    <li> {{Lexicon.attributes_price}} </li>
    <li> {{Lexicon.attributes_revenue}} {{Lexicon.button_info_CDR}} <a href='#' id="helpLink">{{Lexicon.helpButton_CDR}}</a> 
        <div id="example" style="display:none">
                <p>
                <i> {{Lexicon.more_info_CDR}} </i> <br>
                <img style="width:55%; height: 65%; border: 1px solid black;"  src=/static/global/images/CDR_NETs_Overview.jpeg>
                <a href='#' id="closeLink"> {{Lexicon.helpClose_CDR}} </a> 
                </p>
        </div></li>
    <li> {{Lexicon.attributes_timing}}</li>
</ul>
</p>


<p>
    {{Lexicon.explain_Example}}
</p>
<p>
    {{Lexicon.instr_continue}}
</p>

</div>
<div>
    <button id="nextst" style="float: right; margin-top: 2vh;"  disabled class="otree-btn-next btn btn-primary"> {{Lexicon.next}} </button>

</div>

{% endblock %}


{% block scripts %}
<script>
    var exampleDiv = document.getElementById("example");
    var helpLink = document.getElementById("helpLink");
    var closeLink = document.getElementById("closeLink");

    helpLink.addEventListener("click", function () {
        exampleDiv.style.display = "block";
    });

    closeLink.addEventListener("click", function () {
        exampleDiv.style.display = "none";
    });

    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 8000);
    }
</script>
{% endblock %}
