


{% block styles %}
  <!-- Compiled and minified CSS -->
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">  -->
  <link href="{{ static 'global/css/SamplingPilotgeneral.css'}}" rel="stylesheet">
  <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
    <h2 id="caption1">{{Lexicon.ccconcern_title}}</h2>
  

<div id="choice">
   
    <p style="margin-top:30px" id="caption2">{{Lexicon.ccconcern_instruction}}</p>
    <div class="slidecontainer" style="margin-top:30px;">
       
    <p> {{Lexicon.ccconcern_question}}</p> 
        <table style="width:100%; max-width:700px; margin-left: auto; margin-right: auto;">
            <tr>
                <td class="rangelabel" style="text-align:left"> {{Lexicon.not_at_all}} </td>
                <td class="rangelabel" style="text-align:right;"> {{Lexicon.very_much}} </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input style="width:100%" type="range" min="-100" max="100" value="0" step="1" class="slider untouched"
                        id="range_ccconcern" name="range_ccconcern" >
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="padding-top:2vh; text-align: center; padding-left:1vw;">

    <p> {{Lexicon.beliefHuman_header}}</p>
    <table  class="radiotable2" style="text-align: center; margin-left: auto; margin-right:auto">
        {% for field in form %}
        {% if field.name == 'beliefHuman1' or field.name == 'beliefHuman2' or field.name == 'beliefHuman3' or field.name
        == 'beliefConseqences1' or field.name == 'beliefConseqences2' or field.name == 'beliefConseqences3' %}
        {{formfield_errors field.name}}

        <tr>
            <td colspan="9">
                <label for={{field.id}} id={{field.id}} name={{field.name}}> </label>
            </td>
        </tr>
        <tr style="margin-bottom:400px;">
            <td class="radiotablebutton"> {{Lexicon.not_at_all}} &nbsp;</td>
            {{ for choice in field }}
            <td class="radiotablebutton"> {{ choice }} </td>
            {{ endfor }}
            <td class="radiotablebutton"> &nbsp; {{Lexicon.very_much}} </td>
        </tr>

        {{endif}}
        {% endfor %}
        
    </table>
</div>





    <button style="display:block; margin-left:auto; margin-right:1vw;" class="btn" id="nextst"  disabled>{{Lexicon.next}}</button>

</body>

{{ formfield_errors 'range_ccconcern' }}


{% endblock %}


{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"> </script>


<script> 

triggernext = function() {
    $("#mynextbtn").trigger("click")
}

    
function onSliderChange(event) {
    if($(event.target).hasClass('untouched')){
            $(event.target).removeClass('untouched')
            document.getElementById("nextst").disabled = false;
            
        }
}

$(document).ready(function () {
    for (let i = 0; i < js_vars.form_fields.length; i++) {   
            prop= js_vars.form_fields[i] + 'Label'
            label = js_vars.form_field_labels[i]
            id = 'id_' + js_vars.form_fields[i]
            $('#' + id).html(label)
        }
    
    $('#range_ccconcern').on('input', onSliderChange )
   
})







</script>

{% endblock %}