{% block title %}
{{Lexicon.studyInformation}}
{% endblock %}

{% block styles %}
<link href="{{ static 'global/css/SamplingPilotgeneral.css'}}" rel="stylesheet">
{% endblock %}



{% block content %}



<body>

{{ if player.participant.telling_box_label == True}}

    {{Lexicon.instructionCondition_telling_box_label_true}}

{{else}}

    {{Lexicon.instructionCondition_telling_box_label_false}}

{{endif}}

{{Lexicon.instructionUnconditional}}

   
</body>


<div >
    <button id="nextst" style=" margin-top: 4vh;" disabled class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>

</div>
{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 3 * 1000);
    }
</script>
{% endblock %}