{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}



{% block content %} 
<br>
<label>{{ Lexicon.comment_label }}</label>

<form method="post">
   {% for field in form %}
       {{formfield_errors field.name}}
       <div>
           <label  id={{field.id}} name={{field.name}}> </label>
          {{field}}
       </div>
   {% endfor %}
</form>

<br>
<br>
<br>
<p> {{ Lexicon.goodbye_text }} </p>
<br>

<button class="btn btn-primary btn-large reps" style="margin-top:3vh;" type="button" onclick="redirectToThankYouPage()"> {{Lexicon.next}} </button>
{% endblock %}

 {% block scripts %}
    <script>
        function redirectToThankYouPage() {
         // Get the participant's label value
            var participantLabel = "{{ participant.label }}"; 
 
         // Get the link from Lexicon
            var link = "{{ Lexicon.link }}"; // This syntax may vary depending on your templating language
 
         // Construct the URL with the participant's label as a parameter
            var url = link + "?participant_label=" + participantLabel;
 
         // Redirect to the constructed URL
            window.location.href = url;
        }
    </script>

{% endblock %}