.att-box{
  border-style: dashed;
  padding: 0px 20px 5px 20px;
  /* background-color: lightpink; */
  border-width: medium ;
  margin-top: 40px;
}


input.larger {
width: 3vw;
height: 3vw;

max-width: 25px;
max-height: 25px;

min-width: 15px;
min-height: 15px;
}




input[type='range']::-webkit-slider-thumb {
  width: 30px;
  -webkit-appearance: none;
  height: 30px;
  cursor: pointer;
  background: bisque; 
  border-radius: 50%;
}

table.radiotable th, 
table.radiotable tr, 
table.radiotable td {
text-align: left; /* Center-align the entire table */
max-width: 96%; /* No max-width for the entire table */
width: 96%;
}


/* Alternating row colors */
table.radiotable tr:nth-child(even) {
background-color: #c0e3e0;
}

@media only screen and (min-width: 701px) {
  table.radiotable th, 
  table.radiotable tr, 
  table.radiotable td {
    width: 110%;
  }
}

@media only screen and (min-width: 768px) {
  .radiotable {
      width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .radiotable {
      width: 100%;
  }
}