.att-box{
    border-style: dashed;
    padding: 0px 20px 5px 20px;
    /* background-color: lightpink; */
    border-width: medium ;
    margin-top: 40px;
}


input.larger {
  width: 3vw;
  height: 3vw;

  max-width: 25px;
  max-height: 25px;

  min-width: 15px;
  min-height: 15px;
}




table.radiotable th, table.radiotable td, table.radiotable2 th, table.radiotable2 td {
  padding: 2%;
  text-align: center; /* Center-align the entire table */
  max-width: none; /* No max-width for the entire table */
}

/* Left-align the first column */
table.radiotable th:first-child,
table.radiotable td:first-child {
  text-align: left;
}

table.radiotable2 th:first-child,
table.radiotable2 td:first-child {
  text-align: center;
}

/* Alternating row colors */
table.radiotable tr:nth-child(even) {
  background-color: #c0e3e0;
}

table.radiotable2 {
  border-collapse: separate;
}

/* 
table.radiotable2 tr:nth-child(4n+2), table.radiotable2 tr:nth-child(4n+1) {
  background-color: #c0e3e0;
} */

table.radiotable2 tr:nth-child(odd) {
  background-color: #c0e3e0;
}

.radiotablebutton {
  border-color: white;
  border-style: none none solid none;
  border-width: 30px;
}
