.otree-body {
  max-width: 950px;
  font-size: 1.1rem;
  margin-left: auto;
  margin-right: auto;
}

.otree-body>p {
  text-align: justify
}


.accchoice .form-check-input {
  margin-top: 10px;
  width: 1.3em !important;
  height: 1.3em !important;
}

.accchoice .form-check-input:checked {
  background-color: #A5D7D2 !important;
  border-color: #46505A;
}


@media only screen and (min-width: 701px) {
  .otree-body {
    padding: 30pt;
  }

  .accordion .form-check-input {
    width: 2em !important;
    height: 2em !important;
  }

  .accpanel {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 700px) {
  .accordion .form-check-input {
    width: 1.1em !important;
    height: 1.1em !important;
  }
  .accpanel {
    padding: 0;
  }
}

@media only screen and (min-width: 1155px) {
  .otree-body {
    padding-left: 0pt !important;
  }
}





.att-box {
  border-style: dashed;
  padding: 0px 20px 5px 20px;
  /* background-color: lightpink; */
  border-width: medium;
  margin-top: 40px;
}


input.larger {
  width: 3vw;
  height: 3vw;

  max-width: 25px;
  max-height: 25px;

  min-width: 15px;
  min-height: 15px;
}





td{
  padding: 15px 0;
}

table.radiotable2 th:first-child,
table.radiotable2 td:first-child,
table.radiotable3 th:first-child,
table.radiotable3 td:first-child  {
  text-align: center;
}

/* Alternating row colors */
table.radiotable tr:nth-child(even) {
  background-color: #c0e3e0;
}

table.radiotable2 {
  border-collapse: collapse;
}

/* 
table.radiotable2 tr:nth-child(4n+2), table.radiotable2 tr:nth-child(4n+1) {
  background-color: #c0e3e0;
} */

table.radiotable2 tr:nth-child(3n+1), table.radiotable2 tr:nth-child(3n+2), table.radiotable2 tr:nth-child(3n+3)   {
  background-color: #e0f6f4;
}


table.radiotable3 tr:nth-child(6n+1),table.radiotable3 tr:nth-child(6n+2), table.radiotable3 tr:nth-child(6n+3) {
  background-color: #d0dddc;
}


table.radiotable3 tr:nth-child(6n+4),table.radiotable3 tr:nth-child(6n+5), table.radiotable3 tr:nth-child(6n+6) {
  background-color: #e0f6f4;
}

.radiotablebutton {
  border-color: white;
  border-style: none none solid none;
  border-width: 30px;
}



/*collapsible tables */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accactive,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accactive:after {
  content: "\2212";
}

.accpanel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
}