
/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */



.otree-body{
    max-width: 950px;
    font-size: 1.1rem;
    text-align: justify;
    margin-left:auto;
    margin-right:auto;
}


.form-check-input {
  width: 2em !important; 
  height: 2em !important;
}

.form-check-input:checked {
  background-color: #A5D7D2 !important; 
  border-color: #46505A;
}


@media only screen and (min-width: 950px) {
  .otree-body{
    padding: 30pt;
  }

  .form-check-input {
    width: 2em !important; 
    height: 2em !important;
  }
}

@media only screen and (max-width: 800px) {
.form-check-input {
  width: 1.1em !important; 
  height: 1.1em !important;
}
}

@media only screen and (min-width: 1155px) {
 .radiotable{
  width:115% !important;
 }
 .otree-body{
  padding-left: 0pt !important;
 }
}

@media only screen and (max-width: 950px) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
}
}



.rotate {
  transform: rotate(60deg) translate(9px,-13px);
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(60deg) translate(9px,-13px);

  /* Firefox */
  -moz-transform: rotate(60deg)translate(9px,-13px);

  /* IE */
  -ms-transform: rotate(60deg) translate(9px,-13px);

  /* Opera */
  -o-transform: rotate(60deg) translate(9px,-13px);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.att-box{
    border-style: dashed;
    padding: 10px 10px 10px 10px;
    /* background-color: lightpink; */
    border-width: medium ;
    margin-top: 30px;
}

input.larger {
    width: 3vw;
    height: 3vw;
  
    max-width: 55px;
    max-height: 55px;
  
    min-width: 5px;
    min-height: 5px;
  }

input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: bisque; 
    border-radius: 50%;
  }

  table.radiotable th,
  table.radiotable td {
      padding: 7px;
      text-align: center; /* Center-align the content */
      max-width: 85px;
      word-wrap: break-word; /* Allow text to wrap onto the next line */
      white-space: normal; /* Allow text to wrap onto the next line */
      overflow-wrap: break-word; /* For wider browser support */
      word-wrap: break-word;
  }
  



/* Left-align the first column */
table.radiotable th:first-child{
    text-align: left;
}
table.radiotable td:first-child {
    text-align: left;
    min-width: 8px; 
}


/* Alternating row colors */
table.radiotable tr:nth-child(even) {
    background-color: #c0e3e0;
}


