
/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */



.otree-body{
    max-width: 950px;
    font-size: 1.1rem;
    margin-left:auto;
    margin-right:auto;
}

.otree-body > p {
  text-align: justify
}


.form-check-input {
  width: 2em !important; 
  height: 2em !important;
}

.form-check-input:checked {
  background-color: #A5D7D2 !important; 
  border-color: #46505A;
}


@media only screen and (min-width: 950px) {
  .otree-body{
    padding: 30pt;
  }

  .form-check-input {
    width: 2em !important; 
    height: 2em !important;
  }
}

@media only screen and (max-width: 800px) {
.form-check-input {
  width: 1.1em !important; 
  height: 1.1em !important;
}
}

@media only screen and (min-width: 1155px) {
 .radiotable{
  width:115% !important;
 }
 .otree-body{
  padding-left: 0pt !important;
 }
}

@media only screen and (max-width: 950px) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
}
}


input[type='range']::-webkit-slider-thumb {
  width: 30px;
  -webkit-appearance: none;
  height: 30px;
  cursor: pointer;
  background: bisque; 
  border-radius: 50%;
}




.rotate {
  transform: rotate(60deg) translate(9px,-13px);
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(60deg) translate(9px,-13px);

  /* Firefox */
  -moz-transform: rotate(60deg)translate(9px,-13px);

  /* IE */
  -ms-transform: rotate(60deg) translate(9px,-13px);

  /* Opera */
  -o-transform: rotate(60deg) translate(9px,-13px);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.radio-column{
  width:5%;
  min-width:43px;
  max-width:80px;
  text-align: center;
}


h2{
  text-align: left;
}


th, td {
    padding: 1vh;
  }

#nextst, .otree-btn-next{
    background-color: #26a69a;
    text-transform: uppercase;
    border-radius: 0%;
    border-color: #26a69a;
    color: white;
    box-shadow: 1pt 1pt 4pt 1pt slategray;
    margin-bottom: 10px;
}

#nextst:hover:enabled, .otree-btn-next:hover {
    letter-spacing: 1pt;
    box-shadow: 1pt 1pt 4pt 2pt slategray;
    background-color: #26a69a;
    border-color: #26a69a;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2bbbad;
    border-color: #2bbbad;
}

