{% block title %}
{{Lexicon.interlude_title}}
{% endblock %}

{% block styles %}
  <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">

<style>

.form-check-input:checked {
    background-color: #A5D7D2 !important; 
    border-color: #46505A;
} 

</style>
{% endblock %}

{% block content %}



  <p> {{Lexicon.interlude_header}} </p> 
  <div style="margin-left:auto; margin-right: auto; text-align: left;">
    {{formfield 'aboutWhat' label=Lexicon.aboutWhatLabel}}
  </div>


  

<div class="next-btn">
    <div style="float: right; padding-top: 2vh; margin-bottom: 20px;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
  
    </div>
</div>


{% endblock %}


{% block scripts %}
<script>
   
</script>

{% endblock %}