{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}




{{ block title }} {{Lexicon.instructions_title}} {{ endblock }}
{{ block content }}

<style>
    @media only screen and (min-width: 701px) {
            .image {
                width: 100%;
            }
        }
    
        @media only screen and (max-width: 700px) {
            .radiotable {
                width: 60%;
            }
        }
    </style>

{{ Lexicon.example_pb}}
<br>

<p>
{{ Lexicon.example_pa}}
    
    <div class="image" style="text-align: left;   "><img src={{Lexicon.example_pic}}  style=" max-width:100%;    overflow-x: auto;" /></div>


<br>
</p>

<p>
{{ Lexicon.example_pc}}
</p>
<br>

<p>
{{ Lexicon.example_pd }}
</p>

<div >
    <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>

</div>
{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 8 * 1000);
    }
</script>
{% endblock %}
