{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}


{{ block title }} {{if blocknumber == 1}} {{Lexicon.transitions_first_1}} {{else}}{{Lexicon.transition_title}}{{endif}} {{ endblock }}
{{ block content }}

<body>


    {{if blocknumber == 1}} 
    <p> {{Lexicon.transitions_first_2}} </p>
    
    
    
    {{else}}
    
   <p> <b>{{Lexicon.transitions_second_1}} {{blockaccomplished}}  {{Lexicon.transitions_second_2}} {{blocknumber}}  </b> {{Lexicon.transitions_second_3}}</p> 

   <p> {{Lexicon.transitions_second_4}} </p>
    
    
    {{endif}} 

    <div >
        <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary">{{ Lexicon.next }}</button>
    
    </div>

</body>






{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 2 * 1000);
    }
</script>
{% endblock %}
